<p>you are viewing products</p>


  <% _.each(products.result, function (product) { %>
  <ul class="product">
      <li>
        <a href="#/products/<%= product.id %>"><%= product.name %></a>
      </li>
  </ul>
  <% }); %>
