<ol class="breadcrumb">
  <li><a href="#/products">Products</a></li>
</ol>

  <% _.each(products.result, function (product) { %>
  <ul class="product">
      <li>
        <a href="#/products/<%= product.id %>"><%= product.name %></a>
      </li>
  </ul>
  <% }); %>
