<ol class="breadcrumb">
  <li><a href="#/products">Products</a></li>
  <li><span><%= product.name %></span></li>
</ol>

<% _.each(product, function (value, key) { %>
<ul class="product">
    <li>
      <%= key %>: <%= value %>
    </li>
</ul>
<% }); %>
