$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

$font-color-main: #222;
$font-color-light: #666;


html, body {
  font-size: 16px;
  font-family: MillerDisplay, Georgia, 'Times New Roman' !important;
  color: $font-color-main;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.lcbo-logo {
  text-align: center;
  margin-bottom: 2rem;
  img {
    width: 170px;
  }
}

.product-list {
  padding: 0;

  a {
    color: #333;
    border-bottom: 1px solid #eee;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #ddd;
    }
  }

  .product-list-item {
    list-style-type: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;

    .product-thumbnail {
      height: 80px;
    }

    .title a {
      color: #333;
      font-size: 0.85rem;
      font-weight: bold;
    }

    .meta-info {
      font-size: 0.7rem;
      color: $font-color-light;
    }

    .bottom-row {
      margin-top: 1rem;
      font-size: 0.7rem;

      em {
        font-style: italic;
      }
    }
  }
}
