$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

$font-color-main: #222;
$font-color-light: #666;
$font-xbig: 22px;
$font-big: 18px;
$font-regular: 16px;
$font-small: 14px;
$font-xsmall: 12px;


html, body {
  font-size: 16px;
  font-family: MillerDisplay, Georgia, 'Times New Roman' !important;
  color: $font-color-main;
}

a {
  color: #333;
  border-bottom: 1px solid #eee;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid #ddd;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.lcbo-logo {
  text-align: center;
  margin-bottom: 3rem;
  img {
    width: 170px;
  }
}

.product-list {
  padding: 0;
}

.product {
  list-style-type: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;

  .product-thumbnail {
    height: 80px;
  }

  .product-image {
    height: 250px;
  }

  .title {
    margin-top: 0;
    a {
      color: #333;
      font-size: 0.85rem;
      font-weight: bold;
    }

    &.big {
      font-size: $font-xbig;
    }
  }

  .meta-info {
    font-size: 0.7rem;
    color: $font-color-light;
  }

  .bottom-row {
    margin-top: 1rem;
    font-size: 0.7rem;

    em {
      font-style: italic;
    }
  }

  &.no-border {
    border-bottom: 0;
  }
}

#search {
  border: 2px solid black;
  position: relative;
  max-width: 400px;
  margin: 2rem auto;

  input {
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    padding: 0.4rem;
    width: 100%;
    display: block;

    &:focus {
      border: none;
      background: #fefefe;
      outline-width: 0;
    }
  }

  .icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid #666;
    padding: 0 .5rem;
    span {
      margin-top: 8px;
    }

  }
}
